joblib==1.4.2
pandas==2.2.3
scikit-learn==1.6.1
requests==2.32.3
git+https://github.com/remla25-team6/lib-ml.git

# Extra non-production requirements
jupyter==1.1.1
ipykernel==6.29.5
matplotlib==3.10.3
dvc[gs]==3.59.2

# Testing
pytest==8.3.5
psutil==5.*
pytest-benchmark==5.*

# Linting
flake8==7.1.2
bandit==1.8.3
pylint==3.3.7
astroid==3.3.10

# Code formatting
black==25.1.0
