pylint==3.3.7
requests==2.32.3
joblib==1.4.2
scikit-learn==1.6.1
pandas==2.2.3

flake8==7.1.2
bandit==1.8.3
astroid==3.3.10

pytest==8.3.5
psutil==5.*
pytest-benchmark==5.*

pytest-cov==6.1.1
coverage_badge==1.1.2
anybadge==1.16.0

git+https://github.com/remla25-team6/lib-ml.git
